<% include common/header.ejs %>

<div class="site-lable-container ">
    Nick's pizza
    <div class="lable-image"></div>
</div>
<div class="sale-lable-container ">
    Якась там знижка
    <div class="lable-image"></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="right-row ">
            <div class="right-row-top-panel">
                <span class="title">Замовлення</span>
                <span class="amount-of-elements">0</span>
                <span class="clear-button">Очистити замовлення</span>
            </div>

            <div class="right-row-middle-panel" id="cart">
                <div class="to-bought-element" >
                    <div class="info">
                        <div class="to-bought-element-title">Міксовий поло</div>
                        <div class="to-bought-element-detailed-info">
                            <span><img src="assets/images/size-icon.svg"></span>
                            <span class="paddingright20">40</span>
                            <span><img src="assets/images/weight.svg"></span>
                            <span>845</span>
                        </div>
                        <div class="to-bought-element-action-buttons">
                            <span class="bold ">399 грн</span>
                            <div class="red-button glyphicon glyphicon-minus white marginleft20"></div>
                            <span>1</span>
                            <div class="green-button glyphicon glyphicon-plus white marginright20"></div>
                            <div class="white-button glyphicon glyphicon-remove maincolor"></div>
                        </div>
                    </div>
                    <div class="picture-container"><img class="picture" src="assets/images/pizza_1.jpg"></div>
                </div>
            </div>


            <div class="right-row-bottom-panel">
                <div class="sum">Сума замовлення: <span class="hrn">&nbsp; грн</span> <span class="sum-number">0 </span></div>
                <div class="button-container">

                    <div class=" btn btn-warning submit-btn">Замовити</div>
                </div>
            </div>
        </div>

        <div class="left-row col-md-12">
            <div class=" row chosen-type-of-pizza-lable"><span class="chosen-pizza-title">Усі піци</span><span class="left-row-amount-of-pizza">8</span></div>
            <div class="row types-of-pizzas">

                <span class="element-chosen all">Усі</span>
                <span class="element meat">Мясні</span>
                <span class="element pineapple">З ананасами</span>
                <span class="element mushroom">З грибами</span>
                <span class="element ocean">З морепродуктами</span>
                <span class="element vega">Вега</span>

            </div>
            <div class="row" id="pizza_list">

                <div class="col-md-6 col-lg-4 pizza-card">
                    <div class="thumbnail">
                        <img class="pizza-icon" src="assets/images/pizza_5.jpg" alt="Pizza">


                        <div class="caption">
                            <span class="title">Сициліано</span>
                            <div class="type">М’ясна піца</div>
                            <div class="description">
                                Вітчина, салямі, сир моцарелла, шампінйони, перець болгарський, соус томатний
                            </div>

                            <div class="size-left"><img src="assets/images/size-icon.svg">30</div>
                            <div class="size-right"><img src="assets/images/size-icon.svg">40</div>


                            <div class="weight-left"><img src="assets/images/weight.svg">370</div>
                            <div class="weight-right"><img src="assets/images/weight.svg">660</div>
                            <div class="price-left">99 грн</div>
                            <div class="price-right">169 грн</div>
                            <div class="buy-left"><div class="buy-button-left">Купити</div></div>
                            <div class="buy-right"><div class="buy-button-right">Купити</div></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<% include common/footer.ejs %>
