<% include common/header.ejs %>

<div class="site-lable-container ">
    Nick's pizza
    <div class="lable-image"></div>
</div>
<div class="sale-lable-container ">
    Якась там знижка
    <div class="lable-image"></div>
</div>



<% include common/footer.ejs %>
